@tailwind base;
@tailwind components;
@tailwind utilities;

body,
scrolly {
  msoverflowstyle: none;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal{
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #BBDEFB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1C6BAD;
}

::-moz-scrollbar {
  display: none;
}
