@tailwind base;
@tailwind components;
@tailwind utilities;

body,
scrolly {
  msoverflowstyle: none;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* .hidden-scrollbar ::-webkit-scrollbar {
  display: none;
} */
::-moz-scrollbar {
  display: none;
}
