@tailwind base;
@tailwind components;
@tailwind utilities;

body, scrolly {
msOverflowStyle: none;
overflow-y: auto;
-ms-overflow-style: none;
scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}